/*YOUR CUSTOM STYLES*/
body { margin: 0; }

.notFoundBg { background-image:url(/static/img/1300x900.png); }
.chester { background-image:url(/static/img/locations/city/united-kingdom/chester.jpg); }

.airportLounge { background-image:url(/static/img/airportLounge.jpg); }
.carHire { background-image:url(/static/img/carHire.jpg); }

.map { width:100%; height:500px; }

.grey { color: #ccc;}

.hidden { display:none; }

.percent91 { width:91%; }
.percent6 { width:6%; }
.percent5 { width:5%; }
.percent3 { width:3%; }
.percent1 { width:1%; }

.homeSearchIcon { top:0 !important;}

.card-block .commentStar { padding: 10px 0; }

.tagCollection .tag { margin-right: 5px; padding: 4px; background-color: #efefef; color: #333; font-weight:normal; }

.commentCardTestimonial { margin: 20px 0; }

.facebookBtn { width: 280px; }

.signupText { font-size: 30px;font-weight:bold; padding-top:10px;}

.cityPage, .holidayPage { height: 500px !important; }
.travelPage { height: 300px !important; }
.cityPage h1, .holidayPage h1, .travelPage h1 { font-size: 80px; width: 70%; }
.holidayPage .full-center { top: 40% !important;}

.infoPage { height: 100px !important; }
.infoPage h1 { font-size: 28px; text-align: left; margin-top: 40px; z-index: 999; position: absolute; font-weight: bold; }
.infoPage .breadcrumb { position: absolute; z-index: 999; }
.im {  display: inline-block; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h3 small { float:right; padding-top:14px;}

.l30 { margin-left:20px;}
.l90 { margin-left:106px;}

.user-profile-statictics a p { color: #737373; }

.gap-verySmall { margin: 7px 0 7px 0; }

.testimonial .localTestimonial.testimonial-author img { float: none;}
.testimonial .localTestimonial.testimonial-author { margin:0;}

.yesBtn.btn-sm { padding: .10rem .5rem; font-size: .575rem;  margin-top: -4px; }

.grey, .greyBg { background-color: #efefef;}

.chesterBg { background-image:url(/static/img/locations/city/united-kingdom/chester.jpg); }

.cityBg h3 { color: #fff !important; }

.cityBg .booking-item { background-color: white;}

.cityMap { width:100%; height:400px; border: 0;}

.comment-reply, .comment-helpful { font-size: 12px;}

.helpful { float:right; }

.helpful a { color: #ccc;}

.comment-number { font-size: 16px; float:left;margin-right:10px; text-align: center; width:40px;padding-top:10px;}

.comment .comment-reviewer-name { padding-top:10px; float:left; font-size: 16px; color: #888; margin: 0; }

.points { float:right;background-color: white; padding: 10px; margin:0px; font-size: 11px; text-align: center;line-height: 1;}

.points span { font-size: 16px; }

.topReviewer { margin-bottom: 0 !important; }

.questionBtn, .whiskBtn { width:100%;}
.whiskBtn { margin-top: 30px; }

.commentOverview { padding: 10px; font-size: 12px; }
.commentOverview .fa { padding: 10px 0; font-size: 24px; color: #ed8323; }

.countryNav .active .user-profile-statictics-icon,
.countryNav .user-profile-statictics-icon:hover,
.cityNav .active .user-profile-statictics-icon,
.cityNav .user-profile-statictics-icon:hover,
.breadcrumb-item.active {
    color: #ed8323;
}

.cityNav, .countryNav { color: #fff; position:absolute;z-index:999; float:right; margin-top:30px; }

/* TODO: Need to fix this for mobile */
.cityNav .user-profile-statictics-icon, 
.countryNav .user-profile-statictics-icon { font-size: 2rem ; color: #fff; margin-left:15px; }

.hotelSearch i { margin-top: 6px; font-size: 20px; }

/* Explore Destinations */

.exploreTitle h1 { font-size: 30px; font-weight:bold;margin-bottom:0; }

.exploreTitle h2 { font-size: 20px; }

.worldMap { background-image: url(/static/img/postcard.png); background-repeat: no-repeat; background-size: 100% 100%; width:1110px;height:715px;}

.worldMap>ul { position: absolute; top: 50px; list-style:none; }

.worldMap>ul>li { position: absolute; min-width: 180px; line-height: 18px; }

.worldMap li small { background: url(/static/img/mapPointer.png?) bottom left; width: 40px; height: 20px; display: block; position: absolute; margin: 18px 0 0; z-index: 4;}

.worldMap>ul>li>a { background: #fff; font-weight: bold; padding: 2px 6px; border: 1px solid #ccc; cursor: pointer; margin:0; }

.worldMap li.Africa{top:340px;left:550px}
.worldMap li.Canada{top:130px;left:190px}
.worldMap li.Mexico{top:300px;left:200px}
.worldMap li.CentralAmerica{top:410px;left:300px}
.worldMap li.Europe{top:220px;left:510px}
.worldMap li.Caribbean{top:295px;left:275px}
.worldMap li.Australia{top:470px;left:865px; width:300px;}
.worldMap li.Asia{top:230px;left:800px}
.worldMap li.UnitedStates{top:230px;left:200px}
.worldMap li.MiddleEast{top:300px;left:620px}

.cityList ul { list-style:none; margin:0;padding:0; display:inline; }
.cityList ul li { width:50%; float:left; display:inline;text-align:left;}

.left { text-align:left; }

.form-group.select .form-control { padding: 22px 0; }
.form-group.select .form-control { text-align:left; }

optgroup,option { margin-left:0px;text-align:left;}

.nav-pills > li { float: left; }
.nav-pills > li.active a { color: #fff;}

.form-checkbox { margin: 4px 10px 0 0; }

.signupSeperator hr { margin: -9px 0 10px 0; border: 0; border-top: 1px solid #bbb; }
.signupSeperator strong { font-size: 14px; padding: 10px; background: #fff; }

.modal-footer a { color: #cccccc;}

.modalForm .form-group .input-icon { top: 0; }
.modelAuthentication { width:360px !important; }

.smlText { font-size: 10px;line-height:1.5;}

.modal-open[style="padding-right: 16px;"] .navbar-fixed-top,
.modal-open[style="padding-right: 16px;"] .navbar-fixed-bottom { padding-right: 16px; }

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  width: 100%;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  text-align:left;
  padding: 10px;
}

.ui-menu-item a { float:left; border-bottom: solid 1px #ccc; width:100%; padding: 3px 0; }
.ui-menu-item:last-child a { border-bottom:none; }
.ui-menu-item span { width:30px; float:left;text-align:center;}

.ui-menu-item a:hover { background-color: #efefef; }

.btnSearch { padding: 12px 20px;}